$primary-50: #e9cac4;
$primary-500: #bd604f;
$primary-900: #311712;

$neutral-50: #fffefe;
$neutral-500: #5d4c51;
$neutral-900: #060505;

$warning-50: #ffec99;
$warning-500: #fcc419;
$warning-900: #342c13;

$info-50: #a5d8ff;
$info-500: #339af0;
$info-900: #122433;

$danger-50: #ffc9c9;
$danger-500: #ff6b6b;
$danger-900: #341313;
