@mixin flow($gap, $column-width) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($column-width, 1fr));
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  gap: $gap;
}

@mixin content-grid($column-no) {
  display: grid;
  grid-template-columns: repeat($column-no, 1fr);
  column-gap: 0.625rem;
  padding-inline: 10vw;
}

@mixin large-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 800px;
  gap: 1.25rem;
  justify-content: space-between;

  &__child {
    grid-row: 1 / -1;
    width: 400px;
    height: 800px;
  }
}

@mixin center-grid {
  display: grid;
  place-content: center;
}

@mixin grid-flow($justify, $align, $gap, $flow) {
  display: grid;
  grid-auto-flow: $flow;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}
@mixin grid($gap, $count) {
  display: grid;
  grid-template-columns: repeat($count, 1fr);
  gap: $gap;
}
