$nav-height: 6rem;

$spacing-sm: 0.625rem;
$spacing-md: 1.25rem;
$spacing-lg: 4.2rem;

$section-padding: 10rem;
$section-padding-lg: 20rem;

$button-width: 18.75rem;
$button-height: 3.75rem;

$icon-btn: 2.5rem;

$transition: ease-in;
