@forward 'buttons';

mark {
  color: $neutral-50;
  background-color: $primary-500;
}

::selection {
  color: neutral('50');
  background-color: $primary-900;
}

body {
  font-size: 16px;
  font-family: $body;

  color: $neutral-900;
  background-color: $neutral-50;
}

img {
  position: relative;
  z-index: 1;

  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;

  &::before {
    content: '';
    position: absolute;

    width: 100%;
    height: 100%;

    background-image: $primary-50;
    background-size: cover;
  }
}

.page-wrapper {
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.content {
  padding: $section-padding 0;
}

.icon-link {
  @include center;
  width: $icon-btn;
  height: $icon-btn;

  color: $primary-50;
  background-color: $primary-900;

  transition: transform $transition;

  &:focus-visible,
  &:hover {
    color: $primary-50;
    background-color: $primary-500;
    transform: translateY(-0.4rem);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);

  overflow: hidden;
  white-space: nowrap;
}

.link {
  position: relative;
  @include center;

  color: $neutral-900;
  font-size: scale('base');

  text-decoration: none;
  line-height: 1.125;

  transition: all 0.3s $transition;

  &::before {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 50%;
    z-index: -1;

    height: 0.15rem;
    width: 100%;

    transform: translate(-50%, 0%) scaleX(0.65);
    transform-origin: center;
    transition: transform 0.25s $transition, opacity 0.1s $transition;
    background-color: currentColor;
    opacity: 0;

    border-radius: 30px;
  }
}

.link:hover {
  color: $primary-500;

  &::before {
    transform: translate(-50%, -50%) scaleX(0.95);
    opacity: 1;
  }
}

.link:focus-visible,
button:focus-visible,
a:focus-visible {
  color: neutral('50');
  background-color: $primary-500;
  outline-color: $primary-900;
}

.mark {
  position: relative;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    bottom: rem(-10);
    right: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: rem(40);

    background-color: $primary-50;
  }
}
